/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */

body{
	background: url("../images/backdrop1.jpg") transparent;
	
}
/*=========================Navigation=========================================*/
#home_nav:hover{
	background: url("../images/home button1.png");
}
#xbox_nav:hover{
	background: url("../images/home button1.png");
}
#ps4_nav:hover{
	background: url("../images/home button1.png");
}
#con_nav:hover{
	background: url("../images/home button1.png");
}

#logo{
	background-color: #252525;
	overflow: hidden;
}
nav ul{
	margin: 0px;
	padding: 0px;
	position: absolute;

}
nav li{
	display: block;
	margin: 0px;
	padding: 0px;
} 
nav ul ul{
	display: none;
}
nav ul li:hover{
	background: #ff7f00;
}
nav ul li:hover > ul{
	display: block;

}
nav ul li {
	float: left;
}
nav ul li:hover a {
	color: #fff;
}
	
nav ul li a {
		display: block;
		text-decoration: none;
}
nav ul ul{
	margin: 39px 0px 0px 0px;
}
nav ul ul li {
	float: none; 
	position: relative;
}
nav ul ul li a {
	margin: 0px 0px 0px 0px;
	text-align: center;
	padding: 5px 50px;
	color: #fff;
	font-family: 'Electrolize', sans-serif;
	background: #252525;
}	

nav ul ul li a:hover {
		background: #ff7f00;
}
#slogan{
	margin-top: 40px;
}

/*
==============================================================================*/

#head{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#divbar{
	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 7px;
}
#both_con{
	margin-top: 9em;
}
h2{
	font-family: 'Electrolize', sans-serif;
	color: #ff7f00;
}

p{
	font-family: 'Radley', serif;
	color: #fff
}
h3{
	font-family: 'Electrolize', sans-serif;
	color: #ff7f00;
}
a{
	text-decoration: none;
	color: #ce1d22;
	font:"Copperplate Gothic Light"	
}

/*============================Forza.html styles================================*/
#forz{
	margin-bottom: 0px;
}
#for_content{
	background: #363636;
}
#forzaimgone,#forzaimgtwo,#forzaimgthree{
	margin-bottom: 20px;
}
.titleforvid{
	margin-bottom: 5px;
}
iframe{
	margin-bottom: 15px;
	border: 0px
}
#divbarone{
	margin-left: 0px;
}
/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {

#fortrail{
	height: 380px;
}

	
	
	
	
	
	
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
	
#fortrail{
	height: 280px;
}
#forzavidrev{
	height: 270px;
}		
	
	
	
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
#fortrail{
	height: 280px;
}	
	
	
	
	
	

}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
#fortrail{
	height: 180px;
}
#forzavidrev{
	height: 170px;
}
}
/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/
